.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .container {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    @media screen and (min-width: 1200px) {
        align-items: baseline;
        flex-wrap: nowrap;
        // justify-content: flex-start;
    }
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
        display: inline;
        margin-bottom: 0;
        margin-right: 70px;
    }
}

address {
    margin-top: 20px;
}

.f-contacts__address {
    color: var(--accent-color);
}

.f-contacts__mail, .f-contacts__tel {
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
}

.f-contacts__list {
    margin-top: 9px;
    text-align: center;
    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}    

.f-contacts__item {
    margin-top: 9px;
}

address {
    font-style: normal;
    @media screen and (min-width: 1200px) {
        margin-top: 20px;
    }
}

.footer__social {
    margin-bottom: 60px;
    text-align: center;
    @media screen and (min-width: 1200px) {
        text-align: start;
        margin-right: 93px;
        margin-bottom: 0;
    }   
}

.f-social__text, .signup__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 1200px) {
        margin: 0;
    }
}

.f-social__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.f-social__item + .f-social__item {
    margin-left: 10px;
}

.f-social__link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms var(--timing-function);
    &:hover, &:focus {
        background-color: var(--brand-color);
    }
}

.f-social__icon {
    fill: var(--accent-color);
}

.signup {
    display: flex;
    flex-direction: column;
    margin-top: 60px;

    @media screen and (min-width: 1200px) {
        display: inline-flex;
        margin-top: 0;
    }
}

.signup__thumb {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.signup__input {
    max-width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: var(--accent-color);
    padding: 15px 16px;
    margin-bottom: 20px;
    outline: none;
    transition: border-color 250ms var(--timing-function);
    &:focus {
        border-color: var(--brand-color);
    }
    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-right: 12px;
        margin-bottom: 0;
    }
}

.signup__input::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.signup__wrap {
    text-align: center;
    position: relative;
    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.signup__btn {
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    display: inline-flex;
    min-width: 200px;
    height: 50px;
    padding: 10px 29px;
    transition: background-color 250ms var(--timing-function);
    &:hover, &:focus {
        background-color: #188CE8;
    }
    @media screen and (min-width: 1200px) {
        width: 109px;
        text-align: center;
    }
}

.signup__icon {
    fill: var(--accent-color);
    margin-left: 10px;
    position: absolute;
    right: 140px;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (min-width: 1200px) {
        right: 29px;
    }
}