.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    
    .container {
        display: flex;
        align-items: baseline;
    }
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

.f-contacts__address {
    color: var(--accent-color);
}

.f-contacts__mail, .f-contacts__tel {
    color: rgba(255, 255, 255, 0.6);
}

.f-contacts__list {
    margin-top: 9px;
}    

.f-contacts__item {
    margin-top: 9px;
}

address {
    font-style: normal;
    margin-top: 20px;
}

.footer__social {
    margin-right: 93px;
}

.f-social__text, .signup__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.f-social__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.f-social__item + .f-social__item {
    margin-left: 10px;
}

.f-social__link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms var(--timing-function);
    &:hover, &:focus {
        background-color: var(--brand-color);
    }
}

.f-social__icon {
    fill: var(--accent-color);
}

.signup__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.signup__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: var(--accent-color);
    padding: 15px 16px;
    margin-right: 12px;
    outline: none;
    transition: border-color 250ms var(--timing-function);
    &:focus {
        border-color: var(--brand-color);
    }
}

.signup__input::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.signup__wrap {
    position: relative;
}

.signup__btn {
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    display: inline-flex;
    min-width: 200px;
    height: 50px;
    padding: 10px 29px;
    transition: background-color 250ms var(--timing-function);
    &:hover, &:focus {
        background-color: #188CE8;
    }
}

.signup__icon {
    fill: var(--accent-color);
    margin-left: 10px;
    position: absolute;
    right: 29px;
    top: 50%;
    transform: translateY(-50%);
}