.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
    position: relative;
}

.header .container {
    min-height: 60px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.menu-container {
    
    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    @media screen and (min-width: 768px) {
        display: none;
    }
}